* text=auto

/docker-compose.yaml export-ignore
/docker export-ignore
/Makefile export-ignore
/tests export-ignore
/src/Resources/doc export-ignore
/.gitattributes export-ignore
/.github export-ignore
/.gitignore export-ignore
/phpunit.xml.dist export-ignore
/.php-cs-fixer.dist.php export-ignore
/CHANGELOG.md export-ignore
/README.md export-ignore